* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.width {
    width: 100% !important;
}

.width-50 {
    width: 50%;
}

.width-0 {
    width: 0 !important;
}

.mr-4px {
    margin-right: 4px;
}

.mr-8px {
    margin-right: 8px;
}

.mr-16px {
    margin-right: 16px;
}

.ml-8px {
    margin-left: 8px;
}

.ml-16px {
    margin-left: 16px;
}

.ml-24px {
    margin-left: 24px;
}

.ml-48px {
    margin-left: 48px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-4px {
    margin-bottom: 4px;
}

.mb-8px {
    margin-bottom: 8px;
}

.mb-16px {
    margin-bottom: 16px;
}

.mb-24px {
    margin-bottom: 24px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-4px {
    margin-top: 4px;
}

.mt-8px {
    margin-top: 8px;
}

.mt-16px {
    margin-top: 16px;
}

.mt-24px {
    margin-top: 24px;
}

.mt-40px {
    margin-top: 40px !important;
}

.mt-50px {
    margin-top: 50px;
}

.mt-60px {
    margin-top: 60px !important;
}

.pb-0px {
    padding-bottom: 0 !important;
}

.pr-0px {
    padding-right: 0 !important;
}

.pl-0px {
    padding-left: 0 !important;
}

.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.align-item-center {
    align-items: center;
}

.align-item-end {
    align-items: flex-end !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.d-block {
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.txt-white {
    color: white !important;
}

.p-abs {
    position: absolute;
}

p {
    color: #717275;
    font-size: 16px;
    font-weight: 400;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ratio-0 {
    aspect-ratio: 0 !important;
}

.border-none {
    border: none !important;
}

img {
    width: 100%;
    overflow: hidden !important;
}

.l-height-1 {
    line-height: 1 !important;
}

/* SUB-HEADER.........
.................START */

.sub-header {
    background-color: white;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.left-section-sub-haeder {
    width: 66.66666667%;
}

.sub-header ul li {
    display: inline-block;
}

.sub-header ul.info li {
    font-size: 14px;
    color: #7a7a7a;
    border-right: 1px solid #eee;
    margin-right: 25px;
    padding-right: 25px;
}

.sub-header ul.info li i {
    font-size: 20px;
    color: #f35525;
    margin-right: 8px;
}

.right-section-sub-header {
    width: 33.33333333%;
}

.sub-header ul.social-links {
    text-align: right;
}

.sub-header ul.social-links li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #cdcdcd;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
}

.sub-header ul.social-links li a:hover {
    background-color: #f35525;
}

/* SUB-HEADER.........
.................END */

/* HEADER................
..................START */

.header {
    position: sticky;
    top: 0px;
    background-color: #fff;
    height: 100px;
    width: 100%;
    z-index: 100;
    transition: all .5s ease 0s;
}

.logo {
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.logo-heading {
    line-height: 100px;
    font-size: 28px;
    color: #1e1e1e;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav {
    margin-top: 30px;
    justify-content: right;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.nav-bar-items {
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    line-height: 100px;
}

.nav-bar-links {
    color: #1e1e1e;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    border: transparent;
    letter-spacing: .25px;
}

.nav-bar-links:hover {
    color: #f35525;
}

.active {
    color: #f35525 !important;
}

.schedule-visit {
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    border-radius: 20px;
    padding-left: 0px;
}

.calender-icon {
    background-color: #f35525;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: -1px;
    position: relative;
    bottom: 13px;
}

.calender-icon::before {
    position: relative;
    top: 12px;
}

.calender-icon:hover {
    color: white;
}

/* HEADER................
..................END */

/* MAIN-START......
.................. */

/* MAIN-BANNER........
..................START */

.main-banner {
    background-image: url('images/banner-01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 20% 320px 20%;
    margin-top: 0px;
}

.banner-location {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 30px;
}

.country-name {
    font-style: normal;
    color: #f35525;
}

.banner-main-heading {
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 72px;
    width: 50%;
    margin-bottom: 0px;
}

/* MAIN-BANNER........
..................END */

/* BEST-APPARTMENT......
...................START */

.best-appartment {
    margin-top: 150px;
}

.appartment-left-section {
    width: 30%;
    margin-right: 8px;
    margin-left: 8px;
}

.left-img {
    position: relative;
}

.featured-img {
    padding-left: 55px;
    width: 85%;
    overflow: hidden;
}

.appartment-left-section-link {
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    background-color: #f35525;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -55px;
}

.featured-icon-img {
    width: 100%;
    overflow: hidden;
    max-width: 60px;
    padding: 0px;
    position: absolute;
    left: 30px;
    top: 25px;
}

.appartment-mid-section {
    width: 41.66666667%;
    margin-right: 8px;
    margin-left: 8px;
}

.section-heading {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.orange-txt {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.black-txt {
    width: 70%;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.accordian-detail {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fafafa;
}

.accordian-heading {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
    border-bottom: 1px solid #eaeaea;
    padding: 16px 20px;
    cursor: pointer;
}

.accordian-para {
    color: #212529;
    padding: 16px 20px;
}

.accordian-para a {
    color: rgb(13 110 253);
}

.appartment-right-section {
    width: 23%;
}

.info-column {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
}

.info-column-item {
    display: block;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;
}

.info-column-img {
    max-width: 52px;
    float: left;
    margin-right: 25px;
}

.info-column-heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
}

.info-column-sub-heading {
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}

/* BEST-APPARTMENT......
...................END */

/* VIDEO-SECTION.........
...................START */

.video-section {
    margin-top: 120px;
    background-image: url('images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
}

.video-heading {
    width: 31.33333333%;
    margin-left: 33.33333333%;
}

.video-section-heading {
    margin-bottom: 70px;
    text-align: center !important;
}

.white-heading-txt {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    color: #fff;
}

/* VIDEO-SECTION..........
......................END */

/* VIDEO-THUMBNAIL.......
...................START */


.video-thumbnail {
    margin-top: -240px;
}

.video-width-section {
    margin-left: 8.33333333%;
    width: 83.33333333%;
}

.video-frame {
    position: relative;
    border-radius: 10px;
}

.video-thumbnail-img {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.video-thumbnail-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26px, -26px);
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    color: #f35525;
    outline: 15px solid rgba(254, 85, 37, 0.5);
    font-size: 18px;
}

/* VIDEO-THUMBANIL......
....................END */

/* FUN-FACTS......
...................START */

.fun-facts {
    text-align: center;
    margin-top: 125px;
}

.fun-facts-detail-div {
    width: 33.33333333%;
}

.fun-facts-parent {
    background-color: #ffeee9;
    position: relative;
    border-radius: 10px;
    width: 270px;
    padding: 20px 0px;
    display: inline-block;
}

.fun-facts-heading {
    margin-right: 25px;
    font-size: 40px;
    color: #f35525;
    display: inline-flex;
    vertical-align: middle;
}

.fun-facts-para {
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 600;
    line-height: 28px;
    display: inline-flex;
    vertical-align: middle;
}

.fun-facts-para::after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f35525;
    border-radius: 50%;
    content: '';
    right: -25px;
    top: -25px;
}

/* FUN-FACTS............
......................END */

/* BEST-DEALS...........
...................START */

.best-deals {
    background-color: #fafafa;
    padding: 100px 0px;
    margin-top: 120px;
}

.best-deals-upper-section {
    width: 33%;
}

.upper-section-heading {
    margin-bottom: 70px;
}

.best-deals-lower-section {
    width: 100%;
}

.best-deals-nav {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.best-deals-nav-ul {
    border-bottom: none !important;
    margin-bottom: 80px;
    align-items: end;
    justify-content: end;
    margin-top: -130px;
    display: flex;
    flex-wrap: wrap;
}

.best-deals-nav-items {
    margin-left: 20px;
}

.best-deals-nav-items-button {
    font-size: 16px;
    font-weight: 500;
    background-color: #1e1e1e;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0px 25px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.button-active {
    background-color: #f35525 !important;
    color: white !important;
}

.best-deals-main-content {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.main-content-left-section {
    width: 23%;
}

.best-deals-info-column-items {
    display: block;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}

.best-deals-info-column-items span {
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
    float: right;
}

.main-content-mid-section {
    width: 50%;
}

.main-content-mid-section-img {
    padding: 0px 45px;
    width: 80%;
}

.main-content-right-section {
    width: 23%;
}

.main-content-right-section-heading {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}

.main-content-right-section-para {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

.icon-button {
    margin-top: 30px;
}

.icon-button-link {
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    padding: 0px 30px 0px 0px;
    border-radius: 25px;
    transition: all .3s;
}

.icon-button-link:hover {
    color: #f35525;
}

.icon-button-i {
    background-color: #f35525;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
    margin-right: 15px;
    margin-left: -1px;
    position: relative;
    bottom: 18px;
}

.icon-button-i::before {
    position: relative;
    top: 18px;
}

/* BEST-DEALS...........
...................END */

/* PROPERTIES-SECTION...........
........................START */

.properties-section {
    margin-top: 120px;
}

.properties-section-heading {
    width: 31.33333333%;
    margin-left: 33.33333333%;
    text-align: center;
    margin-bottom: 70px;
}

.properties-section-main-heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
    color: #1e1e1e;
    margin-bottom: 0;
}

.properties-item {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    width: 26.55555555%;
}

.properties-item-img {
    border-radius: 10px;
}

.properties-item-category {
    background-color: #fbd9cf;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    color: #1e1e1e;
    padding: 5px 12px;
    display: inline-block;
    margin-top: 25px;
}

.properties-item-price {
    font-size: 20px;
    color: #f35525;
    float: right;
    margin-top: 25px;
    margin-bottom: 0px;
    font-weight: 700;
}

.properties-item-location {
    font-size: 19px;
    margin: 25px 0px;
    color: #1e1e1e;
    font-weight: 700;
}

.properties-item-location a {
    color: #1e1e1e;
}

.properties-item-ul {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.properties-item-li {
    display: inline-block;
    font-size: 15px;
    color: #4a4a4a;
    margin-right: 20px;
}

.properties-item-span {
    font-weight: 600;
    color: #1e1e1e;
}

.properties-item-main-button {
    text-align: center;
}

.main-button-link {
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    padding: 0px 30px;
    border-radius: 25px;
    transition: all .3s;
}

.main-button-link:hover {
    background-color: #f35525;
}

/* PROPERTIES-SECTION......
........................END */

/* CONTACT-SECTION.......
..................START */

.contact-section {
    margin-top: 120px;
    background-image: url('images/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
}

.contact-section-content {
    width: 31.33333333%;
    margin-left: 33.33333333%;
    margin-bottom: 70px;
    text-align: center !important;
}

.contact-section-heading {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}


/* CONTACT-SECTION........
....................END */

/* MAP-FORM.......
...............START */

.map-form {
    margin-top: -240px;
    position: relative;
    z-index: 1;
}

.map-section {
    width: 56.33333333%;
    border-radius: 10px;
}

.iframe-map {
    margin-bottom: 80px;
}

.item-phone {
    width: 36%;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}

.item-phone-img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
    max-width: 52px;
}

.item-phone-heading {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    color: #1e1e1e;
    line-height: 1.2;
}

.item-phone-span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}

.item-mail {
    width: 36%;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}

.form-section {
    width: 41.66666667%;
}

.form {
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
}

.label {
    font-size: 15px;
    color: #3a3a3a;
    margin-bottom: 15px;
    display: inline-block;
}

.input {
    width: 92%;
    height: 44px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
}

.textarea {
    width: 92%;
    height: 150px;
    max-height: 180px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 15px 15px;
    font-family: 'Poppins', sans-serif;
}

.form-button {
    background-color: #1e1e1e;
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.form-button:hover {
    background-color: #f35525;
    color: white;
}


/* MAP-FORM........
...............END */

/* MAIN-END......
.................. */

/* FOOTER...........
..............START */

.footer {
    margin-top: 150px;
    background-color: #1e1e1e;
    min-height: 100px;
}

.footer-content {
    width: 66.66666667%;
}

.footer-para {
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.footer-link {
    color: #fff;
    transition: all .3s;
    position: relative;
    z-index: 3;
}

.footer-link:hover {
    opacity: 0.75;
}

/* FOOTER.......
...............END */


/* PROPERTIES-PAGE........
...................START */

/* PROPERTIES-BANNER........
.........................START */

.properties-banner {
    background-image: url('images/page-heading-bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}

.title {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
}

.properties-banner-heading {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

/* PROPERTIES-BANNER......
........................END */

/* PROPERTIES-SECTION.........
........................START */

.properties-filter {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
}

.properties-filter-item {
    display: inline-block;
    margin: 5px 8px;
}

.properties-filter-link {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    background-color: #1e1e1e;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all .3s;
}

.properties-filter-link:hover {
    color: #f35525;
}

.properties-item-width {
    width: 32% !important;
}

.page-number {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.page-number-item {
    display: inline-block;
    margin: 0px 5px;
}

.page-number-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    transition: all .3s;
}

/* PROPERTIES-SECTION...........
.......................END */

/* PROPERTIES-PAGE......
....................END */

/* PROPERTIES-DETAILS-PAGE......
....................START */

/* SINGLE-PROPERTIES-SECTION.....
.............................START */

.single-properties-section {
    margin-top: 120px;
}

.main-content-width {
    width: 67.66666667%;
}

.main-image {
    float: none;
}

.appartment-right-section-width {
    width: 26% !important;
}

.single-property-heading {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
}

.single-property-para {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

.single-property-link {
    color: rgb(13 110 253);
    transition: 0.3s;
}

.single-property-link:hover {
    color: rgb(10, 88, 202);
}

.single-property-accordian-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

code {
    font-size: .875em;
    color: #d63384;
    word-wrap: break-word;
}

.main-content-left-section-width {
    width: 24% !important;
}

/* SINGLE-PROPERTIES-SECTION.....
.............................START */

/* PROPERTIES-DETAILS-PAGE......
....................END */


/* CONTACT-PAGE.........
.................START */

/* CONTACT-PAGE-SECTION.........
..........................START */


.contact-page-section {
    margin-top: 120px;
}

.contact-page-section-heading {
    margin-bottom: 40px;
    margin-right: 280px;
}

.contact-heading {
    color: #1e1e1e;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.contact-page-section-para {
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
    margin-bottom: 50px;
}

.item-phone-width {
    width: 66% !important;
    margin-bottom: 30px;
}

.item-mail-width {
    width: 66% !important;
    margin-left: 0;
}

.map-section-width {
    margin-top: 100px;
    width: 100%;
}



@media screen and (max-width: 426px) {

    .header {
        position: relative;
        top: 0;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .media-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left-section-sub-haeder {
        display: flex;
        width: 95%;
        margin-bottom: 16px;
        padding-left: 16px;
        padding-bottom: 8px;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    .info-items {
        border: none !important;
    }

    .right-section-sub-header {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 4px;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .logo-heading {
        line-height: 0;
    }

    .nav {
        margin-top: 3px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .nav-bar-items {
        height: 20px;
        padding: 3px 2px;
        margin-top: 3px;
    }

    .nav-bar-links {
        font-size: 12px;
        padding: 0 5px;
    }

    .schedule-visit {
        display: none;
    }

    .main-banner {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 0;
        padding-left: 0px;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .banner-location {
        margin-bottom: 15px;
        margin-right: 70px;
        font-size: 14px;
        padding: 5px 10px;
    }

    .banner-main-heading {
        font-size: 42px;
        line-height: 50px;
        width: 65%;
    }

    .best-appartment {
        margin-top: 50px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .appartment-left-section {
        width: 100%;
        margin: 0;
    }

    .featured-img {
        width: 65%;
        padding: 0 50px;
    }

    .appartment-left-section-link {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 35px;
        bottom: -8px;
    }

    .featured-icon-img {
        position: absolute;
        left: 16px;
        top: 14px;
        max-width: 33px;
    }

    .appartment-mid-section {
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }

    .section-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 25px 0;
    }

    .orange-txt {
        margin-top: 30px;
        width: max-content;
        /* padding-right: 90px; */
    }

    .black-txt {
        font-size: 30px;
        width: 65%;
        line-height: 40px;
        margin-top: 15px;
        text-align: center;
    }

    .accordian-detail {
        text-align: center !important;
        margin: 0;
    }

    .appartment-right-section {
        display: flex;
        width: 100% !important;
        justify-content: center;
        /* margin: 0px 20px; */
        align-items: center;
    }

    .info-column {
        width: 80%;
        margin: auto;
        padding: 25px 20px;
    }

    .info-column-item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .info-column-img {
        max-width: 35px;
    }

    .info-column-heading {
        font-size: 16px;
    }

    .info-column-sub-heading {
        font-size: 12px;
    }

    .video-section {
        width: 100%;
        margin-top: 50px;
        padding: 50px 0 150px 0;
    }

    .video-heading {
        width: 100%;
        margin-left: 0;
    }

    .video-section-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .white-heading-txt {
        font-size: 30px;
        line-height: 40px;
        margin-top: 10px;
        width: 80%;
    }

    .video-thumbnail {
        margin-top: -185px;
    }

    .video-width-section {
        width: 90%;
        margin-left: 0;
    }

    .video-thumbnail-link {
        width: 20px;
        height: 20px;
        top: 55%;
        left: 55%;
        line-height: 18px;
    }

    .fa-play::before {
        font-size: 12px;
        margin-left: 2px;
    }

    .fun-facts {
        margin-top: 100px;
    }

    .fun-facts-detail-div {
        width: 100%;
        margin-bottom: 30px;
    }

    .fun-facts-para::after {
        position: absolute;
        width: 40px;
        height: 40px;
        right: -15px;
        top: -15px;
    }

    .best-deals {
        padding: 0;
        margin-top: 0;
    }

    .best-deals-upper-section {
        width: 100%;
        /* margin-bottom: 30px; */
    }

    .upper-section-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 40px;
    }

    .best-deals-nav {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .best-deals-nav-ul {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .best-deals-nav-items {
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .best-deals-nav-items-button {
        padding: 0 15px;
        height: 45px;
        font-size: 14px;
        line-height: 45px;
    }

    .main-content-left-section {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .main-content-mid-section {
        width: 100%;
    }

    .main-content-mid-section-img {
        padding: 0 31px;
    }

    .main-content-right-section {
        width: 100%;
        margin-top: 20px;
    }

    .main-content-right-section-heading {
        margin-bottom: 15px;
        text-align: center;
    }

    .main-content-right-section-para {
        text-align: center;
        padding: 0 15px;
    }

    .icon-button {
        text-align: center;
    }

    .properties-section {
        margin-top: 50px;
    }

    .properties-section-heading {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .properties-section-main-heading {
        font-size: 30px;
        padding: 0 25px;
        line-height: 45px;
        margin-top: 15px;
    }

    .properties-item {
        width: 75% !important;
        padding: 20px 20px;
        margin: 20px;
    }

    .properties-item-img {
        padding: 0px 5px;
        border-radius: 10px;
        width: 95%;
    }

    .properties-item-category {
        margin-top: 15px;
        font-size: 12px;
        padding: 3px 8px;
    }

    .properties-item-price {
        font-size: 16px;
        margin-top: 10px;
    }

    .properties-item-location {
        margin: 15px 0;
        font-size: 16px;
    }

    .properties-item-ul {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .properties-item-li {
        font-size: 13px;
        margin-right: 10px;
    }

    .contact-section {
        padding: 50px 0px 150px 0px;
        margin-top: 50px;
    }

    .contact-section-content {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-section-heading {
        width: 80%;
        font-size: 36px;
        margin-top: 15px;
    }

    .map-section {
        width: 100%;
        margin-top: 70px;
    }

    .iframe-map {
        margin: 0 15px;
        margin-bottom: 30px;
    }

    .item-phone {
        width: 70% !important;
        margin: 15px;
        padding: 25px 10px 25px 20px;
    }

    .item-mail {
        width: 70%;
        margin: 15px;
        padding: 25px 10px 25px 20px;
    }

    .form-section {
        width: 90%;
        margin-top: 40px;
    }

    .form {
        margin-left: 0;
    }

    .textarea {
        margin-bottom: 20px;
        height: 120px;
    }

    .form-button {
        width: 100%;
        text-align: center;
    }

    .footer {
        margin-top: 70px !important;
    }

    .footer-content {
        width: 90%;
        margin: auto;
    }

    .footer-para {
        font-size: 14px;
        line-height: 50px;
    }


    /* PROPERTIES PAGE */

    .properties-filter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    /* PROPERTIES-DETAILS PAGE */

    .single-properties-section {
        margin-top: 70px;
    }

    .main-content-width {
        width: 85%;
        margin-bottom: 30px;
    }

    .properties-item-category {
        margin-top: 10px !important;
    }

    .single-property-heading {
        margin-top: 15px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .accordian-detail {
        margin-top: 30px !important;
    }

    /* CONTACT-US PAGE */

    .properties-banner-heading {
        margin: 0 5px;
    }

    .contact-page-section {
        margin-top: 30px;
    }

    .width-50 {
        width: 90% !important;
        margin: auto;
    }

    .contact-page-section-heading {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-page-section-para {
        text-align: center;
        margin-bottom: 25px;
    }

    .set-width {
        width: 90% !important;
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .container {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .media-wrapper {
        display: flex;
        width: 100%;
    }

    .left-section-sub-haeder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-section-sub-header {
        display: flex;
        width: 30%;
        justify-content: center;
    }

    .header {
        height: 80px;
    }

    .nav-bar {
        max-width: 720px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
    }

    .logo-heading {
        line-height: 50px;
        margin-top: 7px;
    }

    .nav {
        margin-top: 3px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nav-bar-items {
        line-height: 0;
        height: 30px;
        /* margin-top: 5px; */
        padding: 0;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .nav-bar-links {
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        padding: 10px 10px;
    }

    .schedule-visit {
        display: inline;
        position: relative;
        top: 5px;
        padding: 8px 0;
        padding-right: 20px;
    }

    .calender-icon {
        width: 35px;
        height: 35px;
        position: relative;
        bottom: 10px;
    }

    .banner-main-heading {
        width: 100%;
    }

    .best-appartment {
        margin-top: 100px;
    }

    .appartment-left-section {
        width: 100%;
        padding-left: 40px;
        margin: 0;
        margin-bottom: 100px;
    }

    .appartment-mid-section {
        width: 100%;
        margin: 0 16px;
        margin-bottom: 50px;
    }

    .appartment-right-section {
        width: 90% !important;
    }

    .video-section {
        margin-top: 100px;
    }

    .video-heading {
        width: 90%;
        margin: 0;
    }

    .video-width-section {
        width: 90%;
        margin: 0 auto;
    }

    .fun-facts {
        margin-top: 100px;
    }

    .fun-facts-detail-div {
        width: 100%;
        margin-bottom: 50px;
    }

    .best-deals {
        margin-top: 0px;
        padding: 50px;
    }

    .best-deals-upper-section {
        width: 100%;
        text-align: center;
    }

    .upper-section-heading {
        margin-bottom: 50px;
    }

    .best-deals-nav-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .main-content-left-section {
        width: 100% !important;
        margin-bottom: 50px;
    }

    .main-content-mid-section {
        width: 100%;
        margin-bottom: 50px;
    }

    .main-content-mid-section-img {
        padding: 0;
        width: 100%;
    }

    .main-content-right-section {
        width: 100%;
    }

    .properties-section {
        margin-top: 70px;
    }

    .properties-section-heading {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .properties-item {
        width: 40% !important;
        padding: 20px;
        margin: 0 12px;
        margin-bottom: 20px;
    }

    .contact-section {
        margin-top: 70px;
    }

    .contact-section-content {
        width: 100%;
        margin-left: 0;
    }

    .map-section {
        width: 90%;
        margin: auto;
    }

    .item-phone {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    .item-mail {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    .form-section {
        width: 90%;
        margin-top: 20px;
    }

    .form {
        margin-left: 0;
    }

    .footer {
        margin-top: 100px;
    }

    .footer-content {
        width: 100%;
    }

    .single-properties-section {
        margin-top: 90px;
    }

    .main-content-width {
        width: 90%;
        margin-bottom: 50px;
    }

    .width-50 {
        width: 90% !important;
        margin: auto;
        margin-bottom: 50px;
    }

    .contact-page-section-heading {
        margin-right: 0;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding-left: 0px;
        padding-right: 0;
        width: 95%;
    }

    .video-heading {
        width: 35%;
    }

    .properties-section-heading {
        width: 35%;
    }

    .item-phone-img {
        margin-right: 10px;
    }

    .contact-page-section-heading {
        margin-right: 50px;
    }
}